/*! BUTTONS  */
button()
  display: inline-block
  padding: 10px 15px

.button__info
  button()
  color: color-white
  border-radius: border-radius
  border: 1px solid color-brand
  transition-property: background-color, color
  transition-duration: 1s
  &.light
    background-color: rgba(color-brand, 0)
    &:hover
      background-color: rgba(color-brand, 1)
      color: color-white
  &.dark
    background-color: rgba(color-brand, 1)
    &:hover
      background-color: rgba(color-brand, 0)
      color: color-gray

