/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto+Condensed:300,400,700')
@font-face 
  font-family: 'icomoon'
  src:  url('../fonts/icomoon.eot?t3f6hy')
  src:  url('../fonts/icomoon.eot?t3f6hy#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?t3f6hy') format('truetype'),
    url('../fonts/icomoon.woff?t3f6hy') format('woff'),
    url('../fonts/icomoon.svg?t3f6hy#icomoon') format('svg')
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"] 
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-menu:before 
  content: "\e900"

.icon-cross:before 
  content: "\ea0f"

.icon-facebook:before 
  content: "\ea91"

.icon-instagram:before 
  content: "\ea92"

.icon-twitter:before 
  content: "\ea96"

.icon-linkedin:before 
  content: "\eac9"
