//Mixin iamge
img(url, scrolll = scroll)
  background-image: url(url)
  background-attachment: scrolll
  background-position: center center
  background-size: cover
//Mixin  Text
text(font, size, color, norma = normal)
  font-family: font
  font-size: size
  display: inline-block
  font-weight: norma
  width: 100%
  color: color
