//colors
color-brand = #9FD356
color-black = rgb(0,0,0)
color-white = rgb(255,255,255)
color-secondary = #EB6534
color-gray = #444
color-lightgray = rgb(82, 82, 82)
//background
background-white = white
background-gray = #1d1d1d
background-lightgray = #F7F7F7
//typography
base-font = 'Roboto Condensed', sans-serif
alt-font = 'Playfair Display' , serif
size-normal = 16px
font-color = rgb(67, 67, 67)

//constant
border-radius = 3px
